.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.inputs {
  border-radius: 3px;
  padding: 5px;
  line-height: 40px;
  flex: 1;
}

#search-input {
  border-radius: 5px;
  line-height: 30px;
  margin: 5px 0;
  padding: 0 0 0 5px;
  width: 75%;
}
#no-results {
  line-height: 45px;
  color: darkgray;
  font-weight: bold;
  margin: 2rem;
}
.results {
  border: 1px solid grey;
  border-radius: 5px;
  margin: auto;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.list-header {
  display: flex;
  /*width: 80%;*/
  margin: 2rem;

}
.name, .credits {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 1px solid gray;
  align-items: center;
}
